---
import { Button } from "@/components/ui/button";
import { ChevronLeft, ChevronRight } from "lucide-react";

import { Image } from "astro:assets";

import Dice1 from "@/assets/placeholders/dice-1.jpg";
import Dice2 from "@/assets/placeholders/dice-2.jpg";
import Dice3 from "@/assets/placeholders/dice-3.jpg";
import Dice4 from "@/assets/placeholders/dice-4.jpg";
---

<div class="flex gap-4">
  <Button
    className="flex-1 p-8 border-r border-gray-200 dark:border-neutral-800 max-h-full h-92 rounded-none galleryPrev"
    variant={"ghost"}
    size={"icon"}
  >
    <ChevronLeft size={32} strokeWidth={1.5} />
  </Button>

  <div class="swiper gallerySlide my-3">
    <div class="swiper-wrapper">
      <div class="swiper-slide max-h-[24rem]">
        <Image
          src={Dice1}
          alt="Placholder"
          width={640}
          height={480}
          class="size-full rounded-md object-cover"
          loading={"lazy"}
        />
      </div>
      <div class="swiper-slide max-h-[24rem]">
        <Image
          src={Dice1}
          alt="Placholder"
          width={640}
          height={480}
          class="size-full rounded-md object-cover"
          loading={"lazy"}
        />
      </div>
      <div class="swiper-slide max-h-[24rem]">
        <Image
          src={Dice1}
          alt="Placholder"
          width={640}
          height={480}
          class="size-full rounded-md object-cover"
          loading={"lazy"}
        />
      </div>
      <div class="swiper-slide max-h-[24rem]">
        <Image
          src={Dice1}
          alt="Placholder"
          width={640}
          height={480}
          class="size-full rounded-md object-cover"
          loading={"lazy"}
        />
      </div>
      <div class="swiper-slide max-h-[24rem]">
        <Image
          src={Dice1}
          alt="Placholder"
          width={640}
          height={480}
          class="size-full rounded-md object-cover"
          loading={"lazy"}
        />
      </div>
      <div class="swiper-slide max-h-[24rem]">
        <Image
          src={Dice1}
          alt="Placholder"
          width={640}
          height={480}
          class="size-full rounded-md object-cover"
          loading={"lazy"}
        />
      </div>
      <div class="swiper-slide max-h-[24rem]">
        <Image
          src={Dice1}
          alt="Placholder"
          width={640}
          height={480}
          class="size-full rounded-md object-cover"
          loading={"lazy"}
        />
      </div>
      <div class="swiper-slide max-h-[24rem]">
        <Image
          src={Dice1}
          alt="Placholder"
          width={640}
          height={480}
          class="size-full rounded-md object-cover"
          loading={"lazy"}
        />
      </div>
      <div class="swiper-slide max-h-[24rem]">
        <Image
          src={Dice1}
          alt="Placholder"
          width={640}
          height={480}
          class="size-full rounded-md object-cover"
          loading={"lazy"}
        />
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>

  <Button
    className="min-h-full h-92 p-8 border-l border-gray-200 dark:border-neutral-800 rounded-none galleryNext"
    variant={"ghost"}
    size={"icon"}
  >
    <ChevronRight strokeWidth={1.5} />
  </Button>
</div>

<script>
  import "swiper/css";
  import Swiper from "swiper";
  import { Autoplay, Navigation } from "swiper/modules";

  var gallerySlide = new Swiper(".gallerySlide", {
    modules: [Autoplay, Navigation],
    autoplay: {
      delay: 3500,
    },
    spaceBetween: 12,
    loop: true,
    slidesPerView: 3.3,
    navigation: {
      nextEl: ".galleryNext",
      prevEl: ".galleryPrev",
    },
  });
</script>
